# Ignore specific file types 
*.xml
*.html
*.class
*.lock
*.bin
*.ser
*.probe
*.css
*.gradle
*.css
*.bat
*.js
*.properties
*.toml
*.json
*.jar
*.MF
*.kts
app/build/*
app/app/*
build/*
build.gradle
gradle/*
gradlew.bat
gradlew
settings.gradle
\.gradle/*